*{
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 900px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media screen and (max-width: 610px) {
  .fixed-navbar {
      display: none; /* Hide the navbar by default */
  }

  .menu-button {
      display: block;
      position: fixed;
      top: 15px;
      right: 15px;
      background: none;
      border: none;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
      z-index: 101;
  }

  .menu-button:focus {
      outline: none;
  }

  .menu-button.open {
      color: #000; /* Change color when menu is open */
  }

  .navbar-menu {
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px 20px;
      z-index: 100;
      display: none; /* Hide the navbar menu by default */
  }

  .navbar-menu.open {
      display: block; /* Display the navbar menu when menu button is clicked */
  }

  .navbar-menu li {
      margin: 10px 0;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.fixed-header {
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(135,183,252,1) 49%, rgba(0,212,255,1) 100%);
  padding: 5px 2px;
  z-index: 100;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 7em;
}
.fixed-header h1 {
  align-items: center;
  margin-right: 20px;
}

.hr-2{
 
  height: 9px;
  padding: 17px;
  margin-top: -2px;
  margin-bottom: -2px;
}

.fixed-header span {
  font-size: 16px;
}

.fixed-navbar {
  
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(58, 57, 57, 0.444);
    color: #fff;
    padding: 0.5em 1em 0.3em 1em;
    position: fixed;
    top: 1;
    width: 100%;
    z-index: 999;
}

.fixed-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.fixed-navbar ul li {
  margin: 0 10px;
  border: 3px;
  border-radius: 4px;
  border-bottom: solid 1px #00d4ff;
}

.fixed-navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}

/*.hero {
  background-color: #f9f9f9;
  text-align: center;
  padding: 50px;
}*/

.content {
  background-color: #fff;
  text-align: center;
  padding: 50px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.hero {
    display: grid;
    position: relative;
    grid-template-columns: 100vw;
    grid-template-rows: 50vh;
    place-items: center;
    overflow: hidden;
    
  }
  .hero__bg, .hero__cnt {
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hero__cnt{
    align-items: center;
    padding-right: 2em;
  }
  .hero__bg {
    display: grid;
    position: relative;
    z-index: 0;
    height: 150%;
    width: 150%;
  }
  .hero__bg::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 5;
    top: -10%;
    right: -10%;
    bottom: -10%;
    left: -10%;
    background: rgba(41, 4, 47, 0.4);
    background-blend-mode: screen;
  }
  .hero__bg picture {
    display: flex;
    height: 120%;
    width: 100%;
    
  }
  .hero__bg img {
    display: block;
    object-fit: cover;
    object-position: 77% 50%;
    height: auto;
    width: 100%;
  }
  .hero__cnt {
    display: grid;
    position: relative;
    place-items: center;
    justify-content: center;
    z-index: 10;
    color: #fff;
    font-size: 30px;
    font-weight: 200px;
    text-transform: uppercase;
    
  }
  .hero__cnt h1{
    padding-left: -10px;
  }
  .hero__cnt svg {
    height: 12vw;
  }
  .hero__cnt svg path {
    fill: #fff;
  }
  .hero__cnt h1 {
    margin-bottom: 0;
  }
  
  /* CSS */
  .button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: white;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
  .button-89 a{
    text-decoration: none;
    color: white;
  }

   hr.hr-1 {
        border: 4px;
        border-radius: 4px;
        height: 4px;
        background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(135,183,252,1) 49%, rgba(0,212,255,1) 100%);  
      }
  .service h1{
    padding: 0 0;
    font-size: 32px;
    color: #000;
  }
  
      .contain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        z-index: 10;
        width: 85vw;
        margin: 1em auto;
    }
    .contain .card {
        position: relative;
        width: 280px;
        height: 400px;
        margin: 30px;
        box-shadow: 0px 7px 20px 0px rgb(177 177 177 / 65%);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
    }
    .contain .card .contentt {
        padding: 20px;
        text-align: center;
        opacity: 10;
    }
    .contain .card:hover .contentt {
        opacity: 1;
    }
    .container .card .content h2 {
        position: absolute;
        top: -80px;
        right: 30px;
        font-size: 8em;
        color: rgba(255, 255, 255, 0.05);
        pointer-events: none;
    }
    .contain .card .contentt h3 {
        font-size: 1.8em;
        color: #000;
        z-index: 1;
    }
    .contain .card .contentt p {
        font-size: 1em;
        color: #000;
        font-weight: 300;
    }
    .contain .card .contentt a {
        position: relative;
        display: inline-block;
        margin-top: 16px;
        padding: 8px 20px;
           background: #333;
        color: #ffffff;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(135, 183, 252, 1) 49%,
            rgba(0, 212, 255, 1) 100%
        );
    }
  .service {
    font-size: 4em;
    margin: 3rem auto;
    color: #fff;
  }
  .col-6 {
    width: 50%;
  }
  .content img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.col-6 {
  text-align: left; /* Align text to the left */
  padding: 60px;
  height: auto;
  line-height: 1.6;
}
 .summary {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: justify;
  align-items:center; 
  margin-left: 90px;
  margin-right: 90px;
  padding: 60px;
  height: auto;
  line-height: 1.8;
  }
/*AntiClockWise Effect*/
.antiClock{
	display: inline;
	text-indent: 8px;
}
.sentence{
  color: white;
}
.antiClock span{
	animation: anti 12.5s linear infinite 0s;
	-ms-animation: anti 12.5s linear infinite 0s;
	-webkit-animation: anti 12.5s linear infinite 0s;
	color: white;
	opacity: 0;
	overflow: hidden;
  align-items: center;
    padding:50px;
}
.antiClock span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.antiClock span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.antiClock span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.antiClock span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*AntiClockWise Effect Animation*/
@-moz-keyframes anti{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotateX(180deg); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes anti{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotate(180deg); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes anti{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotate(180deg); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
  animation: anti 12.5s linear infinite 0s;
	-ms-animation: anti 12.5s linear infinite 0s;
	-webkit-animation: anti 12.5s linear infinite 0s;
	color: white;
	opacity: 0;
	overflow: hidden;
  align-items: center;
  padding:50px;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
.testimonial {
  background-color: #fff;
  padding: 50px;
  text-align: center;
}

.testimonial-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-item {
  width: 300px;
  margin: 20px;
  text-align: center;
}

.testimonial-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-item h4 {
  margin-bottom: 5px;
}

.testimonial-item span {
  color: #999;
}
.contentt .img{
  background-size: cover;
  background-position: center; 
  
}
